 <div class="wrapper page">
	<h3 class="page-title"> about </h4>
</div>

<div class="container">
	<p class="intro-quote">Work doesn't work without play.</p>
	<p style="font-family: Dark-Medium; font-size: 1.1em;">–Shonda Rhimes</p>
</div>

<div class="desc-box shweta-box">
	<div class="description">
		<div class="left-box">
			<img class="desc-thumb" src="../assets/img/eyeris_tools/DSC_1025.jpg">
		</div>
		<div class="right-box">
			<p class="hidden">shweta (श्वेता – shway · da) 
			– is a designer based in toronto who sees meaning in visual expression and peanut butter. her work is driven by purpose + play, where she aims to achieve clarity through its balance. she is fascinated by the art of fusion and enjoys questioning new boundaries.		
			</p>
			<div class="row hidden">
			  <div class="column ">
			    <h2 style="font-size: 1em; font-weight: 100;">Services</h2>
			    <p style="font-size: 0.8em; line-height: 1.2em">
			    	Creative Direction <br>
			    	Brand Identity<br>
			    	Brand Strategy <br>
			    	Animation <br>
			    	Packaging Design <br>
					Editorial Design <br>
					Website Design <br>
					Lettering <br>
					HTML / CSS / JQuery <br>
					Illustration <br>
			    </p>
			  </div>
			  <div class="column">
			  	<h2 style="font-size: 1em; font-weight: 100">Enjoys</h2>
			    <p><p style="font-size: 0.8em; line-height: 1.2em">
			    	Peanut butter <br>
			    	Stargazing <br>
			    	Bubble tea <br>
			    	Youth Work<br>
			    	Reading <br>
					Travel <br>
					Meditation <br>
					 <br>
				</p>
			  </div>
			</div>
		</div>
	</div>
</div>


<div class="resume">
	<div class="section-heading hidden">
		<h5 class="section-title">Shweta Sharma</h5>
		<a class="hover" href="mailto:hello@shwayda.com"> HELLO@SHWAYDA.COM</a>
	</div>

	<div class="section-info hidden">
		<div class="social-icons">
			<div>
				<img class="icon" src="../assets/img/SocialIcons-01.png">
				<img class="icon" src="../assets/img/SocialIcons-02.png">
				<img class="icon" src="../assets/img/SocialIcons-03.png">
				<img class="icon" src="../assets/img/SocialIcons-04.png">
			</div>
		</div>
		<div class="fun-facts hidden">
				<div class="bio">
					<p class="strong">SIGN</p>
					<p class="light details">PISCES</p>
				</div>
				<div class="bio" style="width:18%">
					<p class="strong">YEAR</p>
					<p class="light details">1993</p>
				</div>
				<div class="bio" style="width:30%">
					<p class="strong">LOCATION</p>
					<p class="light details">DELHI > TORONTO</p>
				</div>
				<div class="bio">
					<p class="strong">COLOR</p>
					<p class="light details">BLOOD ORANGE</p>
				</div>
		</div>
	</div>

	<div class="divider"></div>

	<!-- -------------- -->

	<div class="section-heading hidden" style="padding-bottom: 10%;">
		<h5 class="section-title">Education</h5>
	</div>

	<div class="section-info hidden">
		<p class="strong">OCAD University</p>
		<p class="light">Bachelor of Design (BDes)<br>2011 – 2015</p>
	</div>
	<div class="section-info hidden">
		<p class="strong">Brainstation</p>
		<p class="light">Web Development<br>2016</p>
	</div>

	<div class="divider"></div>

	<!-- -------------- -->

	<div class="section-heading hidden">
		<h5 class="section-title" style="padding-bottom: 90%;">Professional Experience</h5>
	</div>

	<div class="section-info hidden">
		<p class="strong ">Boys & Girls Club of Albion</p>
		<p class="light">Digital Arts Youth Worker<br>2018 – Present</p>
	</div>
	<div class="section-info hidden">
		<p class="strong">Community Agency</p>
		<p class="light">Graphic Designer<br>2018</p>
	</div>
	<div class="section-info hidden">
		<p class="strong">Canadian Tire Corporation</p>
		<p class="light">Digital Publisher<br>2017 – 2018</p>
	</div> 
	<div class="section-info hidden">
		<p class="strong">Freelance</p>
		<p class="light">Designer + Founder<br>2016 – Present</p>
	</div>
	<div class="section-info hidden">
		<p class="strong">Craft + Keen</p>
		<p class="light">Graphic Designer (Internship)<br>2016</p>
	</div>
	<div class="section-info hidden">
		<p class="strong">Diamond Integrated Marketing</p>
		<p class="light">Graphic Designer (Contract)<br>2015</p>
	</div>
	<div class="section-info hidden">
		<p class="strong">Imm-Living</p>
		<p class="light">Junior Graphic Designer<br>2013 – 2015</p>
	</div>

	<div class="divider"></div>

	<!-- -------------- -->

	<div class="section-heading hidden">
		<h5 class="section-title" style="padding-bottom: 50%;">Volunteer</h5>
	</div>

	<div class="section-info hidden">
		<p class="strong">WIPP (Women Inspiring Passion & Purpose)</p>
		<p class="light">Graphic Designer<br>2016-2017</p>
	</div>
	<div class="section-info hidden">
		<p class="strong">99u Behance Conference</p>
		<p class="light">Festival Volunteer<br>2016</p>
	</div>
	<div class="section-info hidden">
		<p class="strong">Boys & Girls Club of Albion</p>
		<p class="light">Volunteer Artist<br>2016</p>
	</div> 
	<div class="section-info hidden">
		<p class="strong">416 RISE</p>
		<p class="light">Event Volunteer<br>2016</p>
	</div>
	<div class="section-info hidden">
		<p class="strong">Manifesto Community Projects</p>
		<p class="light">Festival Volunteer<br>2015</p>
		<br>
		<br>
		<p class="light">References available upon request.</p>
	</div>
</div>





