<!-- <h3 class="subtitle">
	ABOUT
</h3> -->

<div class="lineProj"></div>

<div class="viewInfo">

	<div class="details">

		<h5 class="infotype"> TAGS </h5>
		<p class="info"> explorer, breaker, maker, visualist, feminist, masculinist, lover, fighter, creator </p>

		<h5 class="infotype social"> <a href="http://www.behance.net/shwetanator"> BEHANCE </a></h5>
		<h5 class="infotype social"> <a href="http://www.instagram.com/shwayduh"> INSTAGRAM </a></h5>
		<h5 class="infotype social last"> <a href="http://www.Linkedin.com"> LINKEDIN </a></h5>
		
		<div class="mobileOnly">
			
		</div>
	</div>

	<div class="written">
		<h5 class="infotype"> EDUCATION </h5>
			<p> OCAD University 
			<br>
			BFA Graphic Design
			<br>
			2011-2015 
			</p>

		<h5 class="infotype"> HISTORY </h5>
			<p class="history">

			Volunteer, <a href="http://conference.99u.com/"> Behance 99U</a>, 2016
			<br>
			Junior Designer, <a href="http://craftandkeen.com/"> Craft + Keen</a>, 2016
			<br>
			Volunteer, <a href="http://riseedutainment.com/"> 416Rise</a>, 2016
			<br>
			Volunteer, <a href="http://mnfsto.com/"> Manifesto </a>, 2015
			<br>
			Junior Designer, <a href="http://www.imm-living.com/">Imm-Living</a>, 2014
			<br>
			Design Intern, <a href="http://www2.mavensay.com/">Mavensay</a>, 2012
			<br>
			Design Intern, <a href="http://cilque.com/"> Cilque</a>, 2011
			<br>
			<br>
			<a href="cloudapp.com"> View Resume </a>
		</p>


	</div>

</div>


<!-- 		<h5 class="infotype"> PRESS </h5>
		<p>
			eightyfourthandwest.com
		</p>

		<h5 class="infotype"> EXHIBITIONS </h5>
		<p>
			TBA
		</p> -->




<!-- 		<table class="history">
				<tr>
					<td>Volunteer</td>
					<td>Behance 99U, 2016</td>
				</tr>
				<tr>
					<td>Junior Designer</td>
					<td>Craft + Keen, 201</td>
				</tr>
				<tr>
					<td>Volunteer</td>
					<td>416Rise, 2016</td>
				</tr>
				<tr>
					<td>Volunteer</td>
					<td>Manifesto, 2015</td>
				</tr>
				<tr>
					<td>Junior Designer</td>
					<td>Imm-Living, 2014</td>
				</tr>
				<tr>
					<td>Design Intern</td>
					<td>Mavensay, 2014</td>
				</tr>
				<tr>
					<td>Design Intern</td>
					<td>Cilque, 2013</td>
				</tr>
			</table> -->


			<!-- <p class="info"> Adobe Suite </p>
			<div class="skillsets info">
				Photoshop
				<br>
				Illustrator
				<br>
				Indesign
				<br>
				AfterEffects
				<br>
				Lightroom
				<br>
				Microsoft Office
			</div>
			<br>
			<p class="info"> Programming </p>
			<div class="skillsets info">	
				<br>
				HTML/CSS3
				<br>
				Javascript
				<br>
				JQuery
				<br>
				Angular
				<br>
				NodeJS
			</div>
			<br>
			<p class="info"> Analogue </p>
			<div class="skillsets info">
				<br>
				Silkscreening
				<br>
				Letterpress
				<br>
				Calligraphy
				<br>
				Bookbinding
			</div> -->



					<!-- <h5 class="infotype"> SKILLS </h5>
		<p class="info">
			<i>Adobe Suite</i>
			<br>
			Photoshop
			<br>
			Illustrator
			<br>
			InDesign
			<br>
			AfterEffects
			<br>
			Lightroom
			<br>
			Microsoft Office
			<br>
			<br>
			<i>Programming</i>
			<br>
			HTML/CSS3
			<br>
			Javascript
			<br>
			JQuery
			<br>
			Angular
			<br>
			NodeJS
			<br>
			<br>
			<i>Analogue</i>
			<br>
			Silkscreening
			<br>
			Letterpress
			<br>
			Calligraphy
			<br>
			Bookbinding
		</p> -->