 <div class="wrapper page">
	<h3 class="page-title"> contact </h4>
</div>


<div class="desc-box">
	<div class="description">
		<div class="left-box">
			<p class="contact-info hidden">
				<a style="color:black" href="1-647-760-7334">647 760 7334</a>
				<br>
				<a style="color:black" class="hover" href="mailto:hello@shwayda.com"> hello@shwayda.com</a>
			</p>
		</div>
		<div class="right-box ">
			<div class="connect hidden">
				<a class="contact-links" href="http://journal.shwayda.com">Journal</a>	
				<a class="contact-links" href="http://journal.shwayda.com">Instagram</a>	
				<a class="contact-links" href="http://journal.shwayda.com">Behance</a>	
				<a class="contact-links" href="http://journal.shwayda.com">Dribbble</a>	

			</div>
			
		</div>
	</div>
</div>


