<div class="contentbox">
	<div class="introbox">
		<div class="lineLeft"></div>
		<h1 class="introshway">

		shweta (श्वेता – shway · da)
		<br>

		– is a designer based in toronto who sees meaning in visual expression and peanut butter. her work is driven by  purpose + play, where she aims to achieve clarity through its balance. she is fascinated by the art of fusion and enjoys questioning new boundaries. <!-- sometimes <a href="http://54.69.52.6/#/"> she writes</a>, <a href="http://instagram.com/shwayduh"> she documents</a>, <a href="http://soundcloud.com/shwayduh"> she listens</a>, but usually <a ui-sref="projects"> she creates</a>.  -->


		<!-- I enjoy the art of fusion and taking risks, failing better and being honest. I value craft, play, purpose and emotion. I enjoy romantic walks to the printer and getting my hands dirty in ink. I still don’t understand all the hype with minimalism. -->

		</h1>
		<div class="lineRight"></div>
	</div>
</div>

<!-- <h3 class="subtitle">
	PROJECTS
</h3> -->

<div class="projectbox" ui-view="projects" autoscroll="false"></div>
