<!-- <h3 class="subtitle">
	PROJECTS
</h3> -->


<div class="projects">

	<div class="proj right">
		<a ui-sref="this-is-not-a-toy">
			<div class="thumb">
				<img class="thumbnail" src='assets/img/test.png'> 
			</div>

			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">This Is Not a Toy</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info"> editorial, print, justice, political, protest</p>
			</div>
		</a>
	</div>
	
	<div class="proj left">
		<a ui-sref="dcrypt-blog"> 
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">dcrypt Blog</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info">web design, web development, javascript, content management</p>
			</div>
			<div class="thumb">
				<img src='assets/img/test.png'>
			</div>
		</a>
	</div>


	<div class="proj right hidden">
		<a ui-sref="brassaii-catering-brochure">
			<div class="thumb">
				<img src='assets/img/test.png'>
			</div>
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">Brassaii Catering Brochure</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info"> editorial, commercial, print</p>
			</div>
		</a>
	</div>


	<div class="proj left hidden">
		<a ui-sref="jersey-milk-chocolate">
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">Jersey Milk Chocolate</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info">packaging, redesign, print, chocolate, yummmm</p>
			</div>
			<div class="thumb">
				<img src='assets/img/test.png'>
			</div>
		</a>
	</div>


	<div class="proj right hidden">
		<a ui-sref="printmaking">
			<div class="thumb">
				<img src='assets/img/test.png'>
			</div>
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">Printmaking</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info">silkscreening, letterpress, risograph, foil stamp</p>
			</div>
		</a>
	</div>

</div>





