<!-- <h3 class="subtitle">
	PROJECTS
</h3> -->


<div class="projects">

	<div class="proj right">
		<a ui-sref="this-is-not-a-toy">
			<div class="thumb">
				<img class="thumbnail" src='../assets/img/projects/thesis-book/thumb6.jpg'> 
			</div>

			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">This Is Not a Toy</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info"> editorial, print, justice, political, protest</p>
			</div>
		</a>
	</div>
	
	<div class="proj left">
		<a ui-sref="dcrypt-blog"> 
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">Dcrypt Blog</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info">web design, javascript, angular, node, HTML, CSS</p>
			</div>
			<div class="thumb">
				<img src='../assets/img/projects/dcrypt-blog/thumb_1.jpg'>
			</div>
		</a>
	</div>


	<div class="proj right hidden">
		<a ui-sref="brassaii-catering-brochure">
			<div class="thumb">
				<img src='../assets/img/projects/brassaii-catering/thumb3.jpg'>
			</div>
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">Brassaii Catering Brochure</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info"> editorial, commercial, print</p>
			</div>
		</a>
	</div>


	<div class="proj left hidden">
		<a ui-sref="jersey-milk-chocolate">
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">Jersey Milk Chocolate</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info">packaging, redesign, print, chocolate</p>
			</div>
			<div class="thumb">
				<img src='../assets/img/projects/jersey-milk/thumb3.jpg'>
			</div>
		</a>
	</div>


	<div class="proj right hidden">
		<a ui-sref="drowned-citizens">
			<div class="thumb">
				<img src='../assets/img/projects/drowned-citizens/thumb.jpg'>
			</div>
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">Drowned Citizens</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info">editorial, print, illustration, obesity</p>
			</div>
		</a>
	</div>

</div>





