<!-- <h3 class="subtitle">
	PROJECTS
</h3> -->


<div class="projects">

	<div class="proj right">
		<a ui-sref="this-is-not-a-toy">
			<div class="thumb">
				<img class ="thumbnail" src="../assets/img/thumb/thesisthumb2/large.jpg"
				srcset="
				../assets/img/thumb/thesisthumb3/sm.jpg 480w,
				../assets/img/thumb/thesisthumb3/med.jpg 960w,
				../assets/img/thumb/thesisthumb2/retina.jpg 3600w"
				alt="thesisthumb">
			</div>

			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">This Is Not a Toy</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info"> editorial, print, justice, political, protest</p>
			</div>
		</a>
	</div>
	
	<div class="proj left">
		<a ui-sref="brassaii-catering-brochure">
			<div class="thumb">
				<img class ="thumbnail" src="../assets/img/thumb/brassaiithumb/large.jpg"
				srcset="
				../assets/img/thumb/brassaiithumb/sm.jpg 480w,
				../assets/img/thumb/brassaiithumb/med.jpg 960w,
				../assets/img/thumb/brassaiithumb/large.jpg 1440w,
				../assets/img/thumb/brassaiithumb/xlarge.jpg 1800w,
				../assets/img/thumb/brassaiithumb/retina.jpg 3600w"
				alt="brassaiithumb">
			</div>
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">Brassaii Catering Brochure</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info"> editorial, commercial, print</p>
			</div>
		</a>
	</div>


	<div class="proj right hidden">
		<a ui-sref="dcrypt-blog"> 
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">Dcrypt Blog</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info">web design, html, css, javascript, angular, node</p>
			</div>
			<div class="thumb">
				<img class ="thumbnail" src="../assets/img/thumb/dcryptthumb/large.jpg"
				srcset="
				../assets/img/thumb/dcryptthumb/sm.jpg 480w,
				../assets/img/thumb/dcryptthumb/med.jpg 960w,
				../assets/img/thumb/dcryptthumb/large.jpg 1440w,
				../assets/img/thumb/dcryptthumb/xlarge.jpg 1800w,
				../assets/img/thumb/dcryptthumb/retina.jpg 3600w"
				alt="dcryptthumb">
			</div>
		</a>
	</div>


	<div class="proj left hidden">
		<a ui-sref="jersey-milk-chocolate">
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">Jersey Milk Chocolate</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info">packaging, redesign, print, chocolate</p>
			</div>
			<div class="thumb">
				<img class ="thumbnail" src="../assets/img/thumb/jerseythumb/large.jpg"
				srcset="
				../assets/img/thumb/jerseythumb2/sm.jpg 480w,
				../assets/img/thumb/jerseythumb2/med.jpg 960w,
				../assets/img/thumb/jerseythumb/large.jpg 1440w,
				../assets/img/thumb/jerseythumb/xlarge.jpg 1800w,
				../assets/img/thumb/jerseythumb/retina.jpg 3600w"
				alt="jerseythumb">
			</div>
		</a>
	</div>


	<div class="proj right hidden">
		<a ui-sref="drowned-citizens">
			<div class="thumb">
				<img class ="thumbnail" src="../assets/img/thumb/drownedthumb/large.jpg"
				srcset="
				../assets/img/thumb/drownedthumb/sm.jpg 480w,
				../assets/img/thumb/drownedthumb/med.jpg 960w,
				../assets/img/thumb/drownedthumb/large.jpg 1440w,
				../assets/img/thumb/drownedthumb/xlarge.jpg 1800w,
				../assets/img/thumb/drownedthumb/retina.jpg 3600w"
				alt="drownedthumb">
			</div>
			<div class="infobox">
				<h5 class="infotype">
				NAME:
				</h5>
				<p class="info">Drowned Citizens</p>
				<h5 class="infotype">
				TAGS:
				</h5>
				<p class="info">editorial, print, illustration, obesity</p>
			</div>
		</a>
	</div>

</div>





