/*FONTS*/
@font-face {
	font-family: Cocogoose;
	src: url(../fonts/Cocogoose.otf);
}

@font-face {
	font-family: CenturyReg;
	src: url(../fonts/CenturyExpandedLTStd.otf);
}

@font-face {
	font-family: CenturyItalic;
	src: url(../fonts/CenturyExpandedLTStd-Italic.otf);
}

body {
/*	height: 100%;*/
/*	background-color: #EFBB9C;*/
/*	background-color: #ff6128;*/
	background-color: rgba(255, 80, 40, 0.82);
	cursor: default;
}

/*div {
	border: 1px white solid;
}*/

.mainbox {
	width: 70vw;
/*	height: 90vh;*/
	margin: 0 auto;
/*	height: 2000px;*/
}

/*NAVIGATION BAR*/
nav {
	position: fixed;
	top: 3%;
	margin: 0px;
	display: inline-block;
	width: 70%; /*for IE 8*/
	width: 70vw;
    z-index: 1000;
}

nav h2 {
	padding: 0px;
	margin: 0px;
}

.titleshway a{
	color: white;
	text-decoration: none;
  	font-family: Cocogoose;
	font-size: 1rem;
	margin-top: -10px;
}

.titleshway a:hover {
	color: black;
}

.activeState{
	color: white;
}

.proj:hover {
	background-color: white;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.subtitle {
	margin: 0px;
}

a {
	color: black;
	text-decoration: none;
}

.menulist a:hover {
	color: white;
}

.titlebox {
	display: inline-block;
/*	margin-top: 10px;*/
}

.menu {
	display: inline-block;
	float: right;
}

.menulist {
	font-family: Cocogoose;
	font-size: 0.8rem;
	display: block;
	margin: 0px;
}

.contentbox {
	margin-top: 160px;
}

/*INTRO BOX*/
/*.lineLeft {
    background-color: black;
    height: 1px;
    width: 63%;
    display: block;
    position: absolute;
    left: -40%;
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg); 
    transform: rotate(-10deg);
}

.lineRight {
    background-color: black;
    height: 1px;
    width: 63%;
    display: block;
    position: absolute;
    right: -40%;
    -ms-transform: rotate(10deg); 
    -webkit-transform: rotate(10deg); 
    transform: rotate(10deg);
    top: 650px;
}*/

.introshway {
	font-family: 'Rufina', serif;
	font-size: 2.3rem;
	line-height: 3rem;
	display: block;
	font-weight: 100;
}

.subtitle {
	font-family: Cocogoose;
	font-size: 0.8rem;
	margin-top: 40px;
}

.projectbox {
	margin-top: 90px;
}

.projects {
	margin-top:30px;
}

.proj {
	height: 30vh;
	width: 100%;
	display: inline-block;
	margin: 2% 0%;
}

.infobox {
	width: 33%;
	height: 95%;
	display: inline-block;
	line-height: 10%;
	padding-top: 15px;
}

.viewproj {
	margin-top: 15px;
}

.viewInfo {
	margin-top: 15px;
	height: 72vh;
}

.details {
	width: 17%;
	display: inline-block;
	line-height: 30%;
}

.details h5 {
	margin: 20px 0px;
}

.details p {
	margin-top: -10px;
	line-height: 1rem;
}

.written {
	width: 80%;
	display: inline-block;
	float: right;
}

.written p {
/*	line-height: 1.3rem;*/
	font-family: 'Rufina', serif;
	font-size: 1.1rem;
	color: black;
	width: 100%;
	margin: 13px 0px;
}

.thumb {
	width: 66%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	display: flex;
}

.thumb img {
	width: 10vw;
	height: auto;
	margin: auto auto;
	background-size: cover;
    flex-shrink: 0;
    min-width: 100%;
    /*min-height: 100%;*/
}

.left .thumb {
	float: right;
}

.right .thumb {
	float: left;
}

.infotype {
	font-family: Cocogoose;
	font-size: 0.8rem;
	margin: 13px 0px;
}

.info {
	font-family: 'Rufina', serif;
	font-size: 0.8rem;
	line-height: 1rem;
}

.infotype, .info {
/*	position: relative;*/
	top: 35%;
}

.left .infotype {
	padding-right: 10px;
}

.left .info {
	padding-right: 10px;
}

.right .infotype {
	padding-left: 10px;
}

.right .info {
	padding-left: 10px;
}

.left .infobox {
	text-align: right;
}

.right .infobox{
	text-align: left;
}

.project-title {
	font-family: Cocogoose;
	font-size: 7.5rem;
	line-height: 8rem;
	color: black;
	text-align: center;
	position: relative;
	margin: 0 auto;
	top: 26vh;
}

picture source {
	width: 70vw;
}

.project-img {
	width: 70vw;
	margin: 20px 0px;
}

.hidden {
	opacity: 1;
}

.wrapper {
	height: 90vh;
	margin: 0 auto;
}

.lineProj {
	background-color: black;
    height: 1px;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.introshway a {
    border-bottom: 0.05em dotted black;
}

.introshway a:hover {
	color: white;
	border-bottom: 0.05em dotted white;
}

.history {
	line-height: 1.5em;
	font-family: 'Rufina', serif;
	font-size: 0.9rem;
	color: black;
	width: 100%;
	margin: 13px 0px;
}

.history a {
	border-bottom: 0.05em dotted white;
}

.history a:hover {
	color: white;
}


.infotype a:hover {
	color: white;
}

.arrow {
	height: 2%;
    margin: 0 auto;
    position: fixed;
    bottom: 90px;
    left: 49vw;
    fill: white;
}

.linefooter {
	background-color: black;
    height: 1px;
    width: 5%;
    display: block;
    margin: 10px auto;
}
#main {
	display: block;
	width: 100vw;
}

#main p {
	font-family: 'Rufina', serif;
	font-size: 0.8rem;
	line-height: 1rem;
	text-align: center;
}

margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	margin-top: 60px;
    margin-bottom: 30px;
    display: block;
}  /* must be same height as the footer */



/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


/*div { border: 1px white solid; }*/


.manifesto {
	background-color: black
}

.manifesto p {
	font-family: 'Rufina', serif;
	font-size: 2rem;
	line-height: 3rem;
	color: white;
	padding: 40px;
	letter-spacing: 1px;
	text-align: center;
}


@media only screen and (max-width:900px) {
	.thumb img {
		height: 100%;
		width: auto;
		position: relative;
		right: 10%;
	}


/*  MEDIUM, LESS THAN 768 PIXELS */
@media only screen and (max-width:768px) {
	html {
		font-size: 90%;
	}

/*	body {
		background-color: lightblue;
	}*/
	
	.thumb {
		width: 100%;
	}

	.infobox {
		display: none;
	}
	
	.introshway {
		font-size: 2rem;
		line-height: 2.7rem;
	}

	.social {
		font-size: 70%;
		line-height: 0%;
	}
	
	.project-title {
		font-size: 10vw;
		line-height: 10vw;
	}

@media only screen and (max-width:900px) {
	.thumb img {
		height: 100%;
		width: auto;
		position: relative;
		right: 0%;
	}


/*SMALL, LESS THAN 319 PIXELS */
@media only screen and (max-width:590px) {

	html {
		font-size: 80%;
	}

	.introshway {
		font-size: 1.8rem;
    	line-height: 2.5rem;
	}


/*	body {
		background-color: lavender;
	}*/

	.proj {
		margin: 2% 0%;
	}

	.thumb img {
		height: 40vh;
		width: auto;
		position: relative;
		right: 25%;
	}
}

/*SMALL, LESS THAN 319 PIXELS */
@media only screen and (max-width:470px) {
	
	html {
		font-size: 78%;
	}

	.introshway {
		font-size: 1.6rem;
    	line-height: 2.3rem;
	}

/*	body {
		background-color: lightgrey;
	}*/

	.thumbnail img {
		overflow: hidden;
	}

	.social {
		letter-spacing: -0.5px;
	}
	
	.written {
		width: 78%;
	}

	.lineProj {
		width: 56%;
	}

	.thumb img {
		height: 100%;
		width: auto;
		position: relative;
		right: 40%;
	}
}


@media only screen and (max-width:375px) {
	nav {
		font-size: 100%;
	}

	.introshway {
		font-size: 1.4rem;
    	line-height: 2rem;
	}

	.project-title {
		font-size: 4rem;
		line-height: 4.5rem;
	}

/*	.written {
		width: 75%;
	}*/

	.lineProj {
		width: 50%;
	}
	
	.details {
		display: block;
		width: 100%;
	}

	.infotype, .info {
		font-size: 100%;
	}
	
	.details p {
		line-height: 1.3rem;
	}

	.social {
/*		display: inline-block;
		width: 32%;*/
		text-align: left;
	}
	
/*	.last {
		float: right;
	}*/

	.written {
		display: block;
		width: 100%;
	}

	#main p {
		font-size: 1rem;
		line-height: 1.2rem;
	}

/*	body {
		background-color: darkgrey;
	}*/
}

