
@font-face {
	font-family: Dark-Bold;
	src: url(../fonts/DarkerGrotesqueTRIAL-Bold.otf);
}

@font-face {
	font-family: Dark-Medium;
	src: url(../fonts/DarkerGrotesqueTRIAL-Medium.otf);
}

@font-face {
	font-family: Formula-Bold;
	src: url(../fonts/FormulaCondensed-Bold.otf);
}

@font-face {
	font-family: Formula-Light;
	src: url(../fonts/FormulaCondensed-Light.otf);
}

.html {
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #000;
	cursor: default;
	width: 98vw;
	height: 60px;
	margin: 0 auto;
}

/*
div {
	border: 1px white solid;
}
*/

/*NAVIGATION BAR*/
nav {
	position: fixed;
	top: 1%;
	display: inline-block;
    z-index: 1000;
    width: 98vw;
}


.nav-list {
    text-align: center;
    font-size: 5.3em;
    font-family: RegattiaStencil;
    color: white;
}

.nav-list a {
	color: white;
	line-height: 110px;
	text-decoration: none;
}

.nav-list a:hover {
	border-bottom: 7px solid white;
	padding-bottom: 3px;
}

.nav-title {
	width:100%; 
	display: inline-block;
}

.nav-title img {
	width: 4%;
}

.nav-menu {
    width: 11.3%;
    display: inline-block;
    float: right;
    color: white;
    text-align: right;
    font-size: 16px;
}

.nav-menu a {
    border-bottom: none !important;
}

a {
    text-decoration: none;
    color: white;
    border-bottom: 0.05em solid white; 
    padding-bottom: 2px;
    font-family: Dark-Medium;
    letter-spacing: 2px;
}

.client-web {
    font-size: 0.8em;
}

.hover {
    color: white;
    transition: 0.3s;
}

.hover:hover {
    color: red;
}

.proj {
    width: 49.5%;
    display: inline-block;
    margin-top: 1vh;
}


.imageBox {
    position: relative;
    float: left;
    width: auto;
}

.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.imageBox:hover .hoverImg {
    display: block;
}

.right {
	margin-left: 1%;
	float: right;
}

.contentbox .proj img {
	width: 100%;
}


.menulist a:hover {
	color: white;
}

.titlebox {
	display: inline-block;
/*	margin-top: 10px;*/
}

.menu {
	display: inline-block;
	float: right;
}

.menulist {
	font-family: Cocogoose;
	font-size: 0.8rem;
	display: block;
	margin: 0px;
}

.contentbox {
	margin-top: 160px;
}

.introshway {
	font-family: 'Rufina', serif;
	font-size: 2.3rem;
	line-height: 3rem;
	display: block;
	font-weight: 100;
}

.subtitle {
	font-family: Cocogoose;
	font-size: 0.8rem;
	margin-top: 40px;
}

.projectbox {
	margin-top: 90px;
}

.projects {
	margin-top:30px;
}

.infobox {
	width: 33%;
	height: 95%;
	display: inline-block;
	line-height: 10%;
	padding-top: 15px;
}

.viewproj {
	margin-top: 15px;
}

.viewInfo {
	margin-top: 15px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
	height: 72vh;
>>>>>>> parent of 1f51381... s
=======
	height: 72vh;
>>>>>>> parent of 1f51381... s
=======
	height: 72vh;
>>>>>>> parent of 1f51381... s
}


.client {
    line-height: 1em;
    color: white;
    font-size: 1em;
    margin: 0 auto;
    font-family: Dark-Bold;
=======
=======
=======
>>>>>>> parent of 1f51381... s
	height: 72vh;
}

.details {
    width: 90vw;
    display: block;
    /* line-height: 0%; */
    margin: 20px auto;
    text-align: center;
}

.details h5 {
    font-family: Gravity-Regular;
/*    color: #D0865F;*/
	color: black;
>>>>>>> parent of 1f51381... s
    letter-spacing: 1.4px;
    display: inline;
}

.year {
    margin-top: 0px;
    line-height: 1rem;
    font-family: robotomono-thin;
    color: white;
/*    display: inline-block;*/
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.desc-box {
    display: block;
    position: relative;
    width: 101vw;
    height: 100vh;
    background-color: whitesmoke;
    left: -30px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.eyeris {
    background-color: #b5acd7;
}

.shweta-box {
    background-color: orchid;
}

.desc-thumb {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.written p {
    font-family: Gravity-Light;
    font-size: 0.78rem;
    color: white;
    width: 75%;
    margin: 12px 0px;
    line-height: 1.4rem;
    letter-spacing: 1.3px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.images {
	/*height: 400px;*/
}

.content {
	display: block;
/*    height: 500px;*/
}

.left-box {
	width: 50%;
	display: inline-block;
	background-color: #f6ff4e;
    height: 100vh;
}

.right-box {
    width: 39%;
    display: inline-block;
    position: absolute;
    top: 30vh;
    font-family: Dark-Medium;
    font-size: 1.2em;
    margin-left: 60px;
    letter-spacing: 1.5px;
    line-height: 1.4em;
    color: white;
}

.hidden {
    opacity: 0;
}

.divider {
    width: 98vw;
    border: 0.7px white solid;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.subtitle2 {
    font-family: robotomono-thin;
    color: white;
    font-size: 0.85rem;
}

.education {
	text-align: left;
	width: 40%;
	margin: 0 auto;
	display: inline-block;
}

.tools {
	display: inline-block;
}

.programs {
	width: 35%;
	font-family: RobotoMono-Thin;
}

.other {
	width: 25%;
	font-family: RobotoMono-Thin;
}

.title-credit {
	font-weight: 700;
}

.left {
    position: relative;
/*    top: -13px;*/
	/*float: left;*/
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
    position: relative;
    width: 101vw;
    height: 110vh;
    background-color: #ff452f;
    overflow: hidden;
    left: -30px;
    top: 100px;
    text-align: center;
}

.intro-quote {
    width: 30%;
    height: 50%;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: Formula-Light;
    font-size: 3em;
    color: black;
    position: relative;
    top: 40%;
}

.page {
    height: 50vh !important;
    margin-top: 30% !important;
}

.thumb {
	width: 66%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	display: flex;
}

.thumb img {
	width: 10vw;
	height: auto;
	margin: auto auto;
	background-size: cover;
    flex-shrink: 0;
    min-width: 100%;
    /*min-height: 100%;*/
}

.social a {
	color: #E5332A;
    text-decoration: none;
    display: inline-block;
}

.project-title {
    font-family: Formula-Bold;
    font-size: 15em;
    color: white;
    text-align: center;
    line-height: 2em;
    letter-spacing: 7px;
    margin: -30px auto;
}

picture source {
	width: 70vw;
}

.project-img {
	width: 98vw;
	margin: 20px 0px;
}

/*.hidden {
	opacity: 1;
}*/

.resume {
    display: block;
    margin-top: -10px;
}

.section-heading {
    display: inline-block;
    width: 49%;
    float: left;
}

.section-info {
    display: inline-block;
    width: 40%;
    padding-left: 60px;
}

.section-title {
    font-family: Formula-Light;
    color: white;
    font-size: 3em;
    font-weight: lighter;
    margin: 2px 0px;
}

.social-icons {
    display: block;
}

.fun-facts {
    width: 100%;
    display: inline-block;
    padding-top: 20px;
}

.bio {
    width: 24%;
    display: inline-block;
}

.wrapper {
    /*width: 70%;*/
    height: 80vh;
    margin: 0 auto;
}

.page-title {
	font-family: Formula-Bold;
    font-size: 20rem;
    color: #black;
    text-align: center;
    line-height: 3.2rem;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
    letter-spacing: 7px;
}

.icon {
    width: 40px;
    display: inline-block;
    padding-right: 5px;
}

.strong {
    font-family: Dark-Bold;
    font-size: 1.1em;
    color: white;
    letter-spacing: 1px;
    padding-top: 10px;
    /*text-transform: uppercase;*/
    margin-top: 0px;
}

.light {
    font-family: Dark-Medium;
    font-size: 1.1em;
    color: white;
    letter-spacing: 1px;
    margin-top: -18px;
    line-height: 1.2em;
}

.proj-details {
    font-size: 1em;
    text-align: center;
}

.bio p {
    text-align: left;
}

.column-full {
    width: 49%;
    display: block;
}


.history a {
	border-bottom: 0.05em dotted white;
	text-decoration: none;
}

.history a:hover {
	color: white;
}

svg {
	height: 30px;
}

.contact-info {
    font-family: Dark-Bold;
    letter-spacing: 2px;
    color: black;
    font-size: 3em;
    line-height: 1.3em;
    padding-left: 70px;
    position: relative;
    top: 33%;
}

.contact-info a {
    color: black;
    border-bottom: 0.05em solid black;
}

.connect {
    display: block;
    width: 40px;
    line-height: 3em;
    top: 5vh;
    position: relative;
}

.contact-links {
    color: black;
    border-bottom: 0.05em solid black;
    font-size: 2.5em;
    font-family: Dark-Bold;
    letter-spacing: 1px;
}

.contact-links:hover {
    color: red;
    border-bottom: 0.05em solid red;
}

.arrow {
	height: 2%;
    margin: 0 auto;
    position: fixed;
    bottom: 90px;
    left: 49vw;
    fill: white;
}

.linefooter {
	background-color: black;
    height: 1px;
    width: 140px;
    display: inline-block;
    margin: 0px auto;
}

.footer-info {
	color: white;
	font-family: Dark-Medium;
	letter-spacing: 2px;
}


#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	margin-top: 60px;
    margin-bottom: 20px;
    display: block;
}  /* must be same height as the footer */


#main p {
	/*font-family: 'Rufina', serif;*/
	font-size: 0.8rem;
	line-height: 1rem;
	text-align: center;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

.about-header {
    font-family: Gravity-BOLD;
    /* color: #D0865F; */
    color: black;
    letter-spacing: 1.4px;
    /* display: inline; */
    font-size: 0.8em;
    margin-bottom: -5px;
    -webkit-margin-before: 0px;
}

.about-info {
    line-height: 1rem;
    font-family: robotomono-thin;
    color: white;
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: 1.3px;
}

.social-icons {
	width: 30px;
    display: inline;
}




/*.social-icons div {
    display: inline-block;
}
*/
margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {
	height: 100%;
}

.manifesto {
	background-color: black
}

.manifesto p {
	font-family: 'Rufina', serif;
	font-size: 2rem;
	line-height: 3rem;
	color: white;
	padding: 40px;
	letter-spacing: 1px;
	text-align: center;
}

.about {
	width: 70vw;
	margin: 0 auto;
}

.contact {
	width: 33%;
	display: inline-block;
	vertical-align: top;
    text-align: right;
    margin-right: 1%;
}

.about-written {
	width: 30%;
	display: inline-block;
    font-family: Gravity-Light;
    font-size: 0.78rem;
    color: white;
    margin: 12px 0px;
    line-height: 1.4rem;
    letter-spacing: 1.3px;
    margin: 0 auto;
    margin-bottom: 8%;
    margin-left: 1%;
    vertical-align: top;
}

.photo {
	width: 33%; 
	display: inline-block; 
	/*float: right;*/
}


@media only screen and (max-width:500px) {
    under-construction {
        font-size: 5em;
    }
}